button{
    border: 2px solid wheat;
    flex-basis: 48%;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: brown;
    transition: all 0,5s;
}
button:hover{
    background-color: gray;
    color: purple;
}
.button-controls{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}